<div class="row">
  <% @listings.each do |listing| %>
  <div class="col-md-3">
    <div class="thumbnail">
      <%= link_to((image_tag listing.image.url(:medium)), listing) %>
      <div class="caption center">
        <h3><%= listing.name.titleize %></h3>
        <p><%= number_to_currency(listing.price) %></p>
        <h3>Sold by <%= listing.user.try(:name_title) || listing.user.try(:email) || 'Unknown' %></h3>
        <% if user_signed_in? && (current_user == listing.user) %>
          <%= link_to 'Edit', edit_listing_path(listing), class: 'btn btn-link' %>
          <%= link_to 'Delete', listing, class: 'btn btn-link', method: :delete, data: { confirm: 'Are you sure!'} %>
        <% end %>
      </div>
    </div>
  </div>
  <% end %>
</div>

<br>

<% if user_signed_in? %>
  <%= link_to 'New Listing', new_listing_path, class: 'btn btn-link', data: { no_turbolink: true } %>
<% end %>
